doctype 5
head
  title CoinJar Starter Application
  link(rel='stylesheet', href='/css/normalize.css')
  link(rel='stylesheet', href='/css/responsive-tables.css')
  link(rel='stylesheet', href='/css/foundation.css')
  link(rel='stylesheet', href='/css/offcanvas.css')
  link(rel='stylesheet', href='/css/style.css')
html
  body
    nav(class='top-bar hide-for-small')
      ul
        li(class='name')
          h1
            a(href='') CoinJar
        li(class='toggle-topbar')
          a(href='#')
      section
        ul(class='right')
          li(class='show-for-small')
            a(href='') Home
          li
            a(href='') Exerci
          li
            a(href='') Tation
          li
            a(href='') Ullamcorper
          li
            a(href='') Dolore
          li
            a(href='') Laoreet
    block content
    script(src='/js/vendor/jquery.js')
    script(src='/js/vendor/foundation.min.js')
    script(src='/js/vendor/responsive-tables.js')
    script(type='text/javascript').
      $(document).foundation();